body {
	background: url(https://wallpaperaccess.com/full/1216331.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 97vh;
	font-family: 'Poppins';
}
body div{
	display:flex;
	flex-direction: column;
}
#parametre{
	display:block;
	border: 10px solid #f3f3f3;
	border-radius: 10px;
	background: #909090;
}
#parametre div{
	margin:15px;
}
#play,#return,#pause{
	margin: 20px;
	border: 5px solid #ffab33;
	border-radius: 10px;
	width: 200px;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	cursor: pointer;
	background: #ff5733;
	font-family: 'Poppins';
}
select{
	width: 150px;
	height: 20px;
}
canvas {
	margin-bottom: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#screenGame {
	width: 600px;
	height: 600px;
	border: 10px solid #f3f3f3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#button {
	border: 5px solid #ffab33;
	width: 200px;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	cursor: pointer;
	margin: auto;
	background: #ff5733;
}

#button:hover {
	background: #dff30b;
}
#BTN-jouer{
	display: flex;
	flex-direction: row;
}
.score,.high{
	
	background-color: #ff5733;
	border: 5px solid #ffab33;
	padding: 10px;
	margin:5px;
	-webkit-box-shadow: 5px 5px 15px 5px #AFAFAF; 
	box-shadow: 5px 5px 15px 5px #AFAFAF;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

.off{
	display :none;
}
.visibility{
	visibility:hidden;
}
.transition{
	animation:Opacite 2s;
}
.transition2{
	animation:slidex 2s;
	opacity: 1;
}
.meilleur{
	justify-content: center;
	font-weight: bold;
	background-color: #33ff3d;
	border: 5px solid #1d9423;
	padding: 10px;
	margin:5px;
	-webkit-box-shadow: 5px 5px 15px 5px #AFAFAF; 
	box-shadow: 5px 5px 15px 5px #AFAFAF;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

#zone{
	border:10px solid #000000;
	border-radius: 8px;
	background-color:#AFAFAF;
	margin:0 auto;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	background: #00ff00;
  }

@keyframes Opacite {
	0% {
		opacity:1;
	}
	100% {
		opacity: 0;
		
	}
}
@keyframes slidex {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
		
	}
}